.card-vote {
    display: flex;
    flex-direction: column;
    margin: 0px 8px 0;
    padding: 24px;
    border-radius: 5px;
    background-color: white;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 5px 5px 0 rgba(93, 253, 93, 0.14), /* produce shadow out bottom */
                0 1px 50px 0 rgba(93, 253, 93, .12), /* produce glow around whole card */
                0 2px 4px -1px rgba(93, 253, 93, .2); /* produce secondary bottom glow */
}

label {
    font-size: small;
}

legend {

    margin-bottom: 5px;
    font-size: medium;
    padding: 2px 10px;
}

textarea {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    min-height: 50px;
}

input {
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.body-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid;
    border-radius: 5px;
    gap: 5px;
    padding: 10px 20px 20px 20px;
    /*box-shadow: 10px 10px 2px -2px rgb(255, 169, 221);*/
}

.form-text {
    text-align: left;
    font-size: small;
    width: 100%;
}

.p {
    margin: 5px 0;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-sa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-c {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
    gap: 5px;
}

.button-set {
    border-radius: 5px;
    border: 1px solid;
    margin-top: 10px;
}

.berly{
    border-radius: 5px;
    height: 405px;
    margin-top: 10px;
}
